::-webkit-scrollbar {
  width: 6px;
  -webkit-appearance: none;
  -webkit-border-radius: 100px;
}

::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb:vertical {
  background: #dadada;
  border: none;
}

::-webkit-scrollbar-track {
  background: #666666;
}

::selection {
  background: #c3eeec;
}

body {
  font-family: 'Staatliches', cursive;
  margin: 0;
}

.label {
  display: inline;
  border-radius: 1.5em;
  padding: .3em 1.5em;
  color: white;

  &.bg-orange {
    background: orange;
  }
}

.mt-m {
  margin-top: 30px;
}